<!DOCTYPE html>
<html lang="{{ site.language }}">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{{ page.title }} | {{ site.title }}</title>
		<link rel="icon" href="{{ site.icon }}" />
		<meta name="description" content="Esta es mi web." />
		<link rel="stylesheet" type="text/css" href="{{ site.github.url }}/styles.css" />
	<body>
		<div class="center">
			{{content}}
			<footer>
				<br />pwd by Aticom
			</footer>
		</div>
	</body>
</html>
