---
layout: default
---
		<h1>{{ site.title }}</h1>
		<ul>
			{% for post in paginator.posts %}
  			<li class="posts-container">
				<h3><a href="{{ site.github.url }}{{ post.url }}">{{ post.title }}</a></h3>
				<p>{{ post.content | strip_html | truncate: 350 }}</p>
			</li>
			{% endfor %}
		</ul>
		<div>
			{% if paginator.next_page %}
				<a href="{{ site.github.url }}{{ paginator.next_page_path }}"><=</a>
			{% else %}
				<span><=</span>
			{% endif %}
			{% if paginator.previous_page %}
				<a href="{{ site.baseurl }}{{ paginator.previous_page_path }}">=></a>
			{% else %}
				<span>=></span>
			{% endif %}
		</div>
